.ridelink-background {
  background-color: #32a885;
}
.text- .card:hover {
  background-color: #e8edec;
}

.icon {
  color: #32a885;
  font-size: 50px;
  opacity: 0.6;
}
.ridelink-color {
  color: #32a885;
}

.btn:hover {
  background-color: #32a885;
  color: white;
  transform: scale(0.98);
}

.ridelink-badge {
  padding: 6px;
  margin: 6px;
  background-color: #32a885;
  color: white;
  border-radius: 50%;
  font-size: 30px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
